#root {
  min-height: 100vh;
  position: relative;
}
:root {
	--primary-color: #70d6ff;
	--secundary-color: #011627;
	--details-color: #ff206e;
	--white: #fff;
}
.nav-bg {
	background-color: var(--secundary-color);
}
.navbar-brand {
	color: var(--white)!important;
}
.nav-link-color {
	color: var(--white);
	transition: 0.25s color;
}
.nav-link-color:hover {
	color: var(--details-color);
	transition: 0.25s color;
}
.footer-bg {
  background-color: var(--secundary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}